@media only screen and (max-width: 800px) {

	
    .wrapper {	
		min-width: 144%;
		width: 0;
		height: 466px;
			
	}

	.header {
		width: 100%;
		height: 100px;
		margin-bottom: 10px;
		margin: 0 auto;
	}

	.heder_1 {
    width: 100%;
    height: 80px;
}

	.main-content {				
		margin: 0 auto;
		min-height: 233px;
		height: 17px;
		padding-bottom: 10px;
		margin-top: 10px;
		
	}

	.inner-content {		
		min-height: 215px;
		width: 94%;
		height: 100px;
		margin:0 0 0 0;		

	}

	.footer {
		width: 139%;
    	height: 145px;
		position:absolute;
		margin: 0 0 0 0;
		left: 0;
		bottom: 0px;
		text-align: center;		

	}

	.reg {
    width: 178px;
    position: absolute;
    left: 0%;
    padding: 5px;
    margin: 110px 0 0 0;
}

	/*Кнопка регистрация*/
	.reg button {
    width: 175px;
    height: 37px;
    margin-bottom: 0px;
    background: rgba(9, 243, 27, 0.19);
    padding: 6px 24px;
    cursor: pointer;
}

.regButton {
    text-decoration: none;
    outline: none;
    display: inline-block;
    padding: 10px 30px;
    margin: 2px 20px;
    position: relative;
    overflow: hidden;
    border: 3px solid rgba(208, 232, 75, 0.84);
    border-radius: 5px;
    font-family: 'ARIAL BLACK', sans-serif;
    color: #cdf10b;
    transition: .5s ease-in-out;
    font-size: 14px;
    letter-spacing: 3px;
}

.regButton:before {
    content: "";
    background: linear-gradient(90deg, rgba(241, 245, 9, 0.97), rgba(92, 241, 97, 0.69));
    height: 50px;
    width: 30px;
    position: absolute;
    top: -8px;
    left: -75px;
    transform: skewX(-45deg);
}
/*Кнопка вход*/
.vhodButton {
    text-decoration: none;
    outline: none;
    display: inline-block;
    padding: 10px 30px;
    margin: 10px 20px;
    position: relative;
    overflow: hidden;
    border: 3px solid #fe6637;
    border-radius: 5px;
    font-family: 'ARIAL BLACK', sans-serif;
    color: #cdf10b;
    transition: .5s ease-in-out;
    font-size: 15px;
    letter-spacing: 6px;
}

.site_content {
    width: 205px;
    height: 220px;
    overflow: hidden;
    margin: 0 auto 0 auto;
    left: 0;
    text-align: center;
}

.sait p {
    color: #0cfb0c;
    font-size: 22px;
    letter-spacing: 3px;
    font-weight: bold;
    text-shadow: 5px -6px 10px rgba(6, 80, 247, 0.73);
    margin: 35px 0 0 0;
}

/*кнопка Слайдер*/

#button {
    position: relative;
    letter-spacing: 3px;
    margin: 0 auto;
    padding: 5px 2.5rem;
    background: transparent;
    outline: none;
    font-size: 15px;
    color: #111111;
    -webkit-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.15s;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.15s;
}

#button {
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
}

#button::before {
    background-color: #c92918;
    top: -0.75rem;
    left: 0.5rem;
}

#button::after {
    background-color: #e74c3c;
    top: 3rem;
    left: 13rem;
    -webkit-animation: bottom 2s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.5s infinite alternate;
    animation: bottom 2s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.5s infinite alternate;
}

#button::after, #button::before {
    content: "";
    position: absolute;
    -webkit-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    z-index: -2;
    border-radius: 50%;
}
/*Где находимся кнопка*/
.path svg {
    height: 30px;
    width: 48px;
    transform: scale(1, 1);
    fill: #fbfaf9;
}

.path {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    box-shadow: 0 1px 1px #61de38, 1px 1px 0 #fbfaf9 inset;
    background: rgba(37, 144, 75, 0.65);
    margin: 5px 70px;
    transition: box-shadow .2s ease, transform .5s ease, margin-top .2s ease;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Вы можите заказать*/
.container a {
    display: block;
    margin: 0 5% 0 0;
    padding: 1rem 1.25rem;
    font-family: sans-serif;
    font-size: 14px;
    text-decoration: none;
    color: white;
    position: relative;
    -webkit-transition: all 0.3s cubic-bezier(0.2, 0, 0, 1);
    transition: all 0.3s cubic-bezier(0.2, 0, 0, 1);
    z-index: 1;
}
/*Текст верстка*/
#verstka{
	margin: 30px 0 0 0;
}
#verstka h1 {
    width: 105%;
    height: 60;
    padding: 10px;
    margin: 0 0 0 0;
    font-size: 32px;
    text-transform: uppercase;
    text-shadow: 5px -6px 10px rgba(232, 247, 6, 0.73);
    color: #fff;
    text-align: center;
    letter-spacing: 6px;
}

.container {
    text-align: center;
    height: 53%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 0 0 71px;
}

#verstka p {
    color: #232020;
    width: 107%;
    height: 171px;
    text-align: center;
    font-size: 15px;
    letter-spacing: 0;
    text-shadow: 5px -6px 10px rgba(232, 247, 6, 0.73);
    font-weight: bold;
}

#wrapper {
    width: 87%;
    height: 65px;
    margin-left: 20%
}

/*Кнопки футера*/
#wrapper ul li {
    margin-top: 10px;
}

#wrapper ul li {
    width: 50px;
    height: 50px;
    line-height: 0px;
    margin: 0 18px;
    padding: 0 0 0 0;
    text-align: center;
    cursor: pointer;
    border-radius: 50%;
    border: 5px solid rgba(2, 66, 245, 0.64);
    float: left;
    transition: all 0.5s ease;
    text-align: center;
}

.fa-facebook-f:before, .fa-facebook:before {
    color: #3b5998;
}


.fa-twitter:before {   
    color: #00aced;
}

.fa-instagram:before {   
    color: #bc2a8d;
}

.fa-google:before {    
    color: #dd4b39;
}

.fa-whatsapp:before {    
    color: #4dc247;
}

#wrapper ul li .fa {
    color: #D8E2DC;
    margin-top: 10px;
    transition: all 0.5s ease;
}
font-awesome.min.css:4
.fa-2x {
    font-size: 2em;
}
font-awesome.min.css:4
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/*Окно регистрации*/
#window {
    width: 40%;
    height: 95%;
    margin: 0 auto;
    background: rgba(249, 186, 9, 0.42);
    border: 1px solid #fff;
    border-radius: 15px;
    z-index: 150;
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

    #gray {
    background-color: rgba(222, 206, 206, 0.75);
    opacity: 0.8;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: none;
    z-index: 100;
    overflow: auto;
    padding: 0px;
}

.close {
    margin: 7px 0 0 90%;
    cursor: pointer;
    padding: 2px;
}

/*Окно входа*/
#vhod {
    width: 305px;
    height: 501px;
    margin: 0 auto;
    background: rgba(249, 186, 9, 0.42);
    border: 1px solid #fff;
    border-radius: 15px;
    z-index: 150;
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

#gyt {
    background-color: rgba(222, 206, 206, 0.75);
    opacity: 0.8;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: none;
    z-index: 100;
    overflow: auto;
    padding: 15px;
}

/*Меню*/
.menu {
    background: #555 url(../img/menu-bg.jpg) repeat left top;
    left: -290px;
    height: 95%;
    position: fixed;
    width: 285px;
    z-index: 50;
    margin: -35px 0 0 0;
    padding: 0 0 0 0;
}

.icon-close {
    padding: 0 0 0 0;
    margin: 0 0 0 82%;
}

@media only screen and (max-width: 568px){

	.wrapper {	
		min-width: 139%;
		height: 0%;
			
	}

	.header {
		width: 112%;
		height: 165px;
		margin-bottom: 10px;
		margin: 0 auto;
	}

	.heder_1 {
    width: 100%;
    height: 80px;
}

	.main-content {				
		margin: 0 auto;
		min-height: 545px;
		height: 100px;
		padding-bottom: 10px;
		margin-top: 10px;
		
	}

	.inner-content {		
		min-height: 400px;
		width: 94%;
		height: 100px;
		margin: 0 0 0 0;		

	}

	.footer {
		width: 139%;
    	height: 149px;
		position:absolute;
		margin: 0 0 0 0;
		left: 0;
		bottom: 0px;
		text-align: center;		

	}

	/*Конец шапки, контент и футер.*/

	/*Муню с право*/
	.site_content {
		width: 260px;
		height: 400px;
		overflow: hidden;
		margin: 0 auto 0 auto;
    	float: right;
    	text-align: center;
	}


	body.page-1{
		background-size: cover;
	}

	/*Кнопка регистрации*/
	.reg {
    width: 135px;
    position: absolute;
    right: 0;
    left: 55%;
    padding: 5px;
    margin: 90px 0 0 0;
    float: right;
}

.reg button {
    width: 113px;
    height: 35px;
    margin-bottom: 10px;
    background: rgba(9, 243, 27, 0.19);
    padding: 2px 7px;
    cursor: pointer;
}

.regButton {
    text-decoration: none;
    outline: none;
    display: inline-block;
    padding: 10px 30px;
    margin: 3px 20px;
    position: relative;
    overflow: hidden;
    border: 3px solid rgba(208, 232, 75, 0.84);
    border-radius: 5px;
    font-family: 'ARIAL BLACK', sans-serif;
    color: #cdf10b;
    transition: .5s ease-in-out;
    font-size: 12px;
    letter-spacing: 1px;
}

/*Кнопка входа*/

.vhodButton {
	text-decoration: none;
  	outline: none;
  	display: inline-block;
  	padding: 10px 30px;
  	margin: 10px 20px;
  	position: relative;
  	overflow: hidden;
  	border: 3px solid #fe6637;
  	border-radius: 5px;
  	font-family: 'ARIAL BLACK', sans-serif; 
  	color: #cdf10b;
  	transition: .5s ease-in-out;
  	font-size: 16px;
  	letter-spacing: 3px;
}

/*Для Вашего сайта*/
.container a {
    display: block;
    margin: 10px 6% 3px 4px;
    padding: 1px 3px 3px 5px;
    font-family: sans-serif;
    font-size: 12px;
    text-decoration: none;
    color: white;
    position: relative;

}

.container a:after {
    content: '';
    display: block;
    height: 2px;
    position: absolute;
    bottom: 0;
    right: 0.25rem;
    left: 0.25rem;
    background-color: #ffffff;
    -webkit-transition: all 0.3s cubic-bezier(0.2, 0, 0, 1);
    transition: all 0.3s cubic-bezier(0.2, 0, 0, 1);
    -webkit-transform-origin: bottom center;
    transform-origin: bottom center;
    
    }

.sait p {
    color: #0cfb0c;
    font-size: 15px;
    letter-spacing: 1px;
    font-weight: bold;
    text-shadow: 5px -6px 10px rgba(6, 80, 247, 0.73);
    margin: 0 6% 0 0;
}

/*Слайдер кнопка*/
#button{
    position: relative;
    letter-spacing: 0.15em;
    margin: 0 auto;
    padding: 2% 0.5rem;
    background: transparent;
    outline: none;
    font-size: 15px;
    color: #111111;
}

.site_content {
    width: 145px;
    height: 400px;
    overflow: hidden;
    margin: 15px 0 0 0;
    float: right;
    text-align: center;
}

/*Где находимся*/
.path {
    width: 50px;
    height: 50px;
    border-radius: 15px;
    box-shadow: 0 1px 1px #61de38, 1px 1px 0 #fbfaf9 inset;
    background: rgba(37, 144, 75, 0.65);
    margin: 20px 33%;
    transition: box-shadow .2s ease, transform .5s ease, margin-top .2s ease;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.path svg {
    height: 20px;
    width: 50px;
    transform: scale(1, 1);
    fill: #fbfaf9;
}

.sait {
    text-align: center;
    margin: 14px 0 0 0;
    padding: 0 0 0 0;

}

#verstka h1 {
    width: 60%;
    height: 30px;
    padding: 10px;
    margin: 0px 0 20px 34px;
    font-size: 25px;
    text-transform: uppercase;
    text-shadow: 5px -6px 10px rgba(232, 247, 6, 0.73);
    color: #fff;
    text-align: center;
    letter-spacing: 6px;
    
}

#verstka p{
color: #232020;
    width: 100%;
    height: 222px;
    text-align: center;
    font-size: 15px;
    letter-spacing: 2px;
    margin: 0 0 0 0;
    padding: 0 0 0 7px;
}

#verstka p:hover {
    background-color: rgb(245, 236, 236);
}

.container {
    text-align: center;
    height: 40%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}


#wrapper {
    width: 100%;
    height: 86px;
    margin-left: 4%

}

#wrapper ul li {
    width: 55px;
    height: 55px;
    line-height: 75px;
    margin: 0 10px;
    text-align: center;
    cursor: pointer;
    border-radius: 50%;
    border: 3px solid rgba(2, 66, 245, 0.64);
    float: left;
    transition: all 0.5s ease;
}

#window {
    width: 70%;
    height: 62%;
    margin: 40px auto;
    background: rgba(249, 186, 9, 0.42);
    border: 1px solid #fff;
    border-radius: 15px;
    z-index: 150;
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.rm_controls a{
	cursor:pointer;
	opacity:0.7;
	padding-left: 65px;
	font-size: 16px;
	text-transform:uppercase;
	height: 20px;
	float:left;
	line-height: 20px;
}

/*Кнопки футера*/

.fa-facebook-f:before, .fa-facebook:before {
    content: "\f09a";
    color: #3b5998;
}

.fa-twitter:before {
    content: "\f099";
    color: #00aced;
}

.fa-instagram:before {
    content: "\f16d";
    color: #bc2a8d;
}

.fa-google:before {
    content: "\f1a0";
    color: #dd4b39;
}

.fa-whatsapp:before {
    content: "\f232";
    color: #4dc247;
}

/*Боковое меню*/
.menu {
    background: #555 url(../img/menu-bg.jpg) repeat left top;
    left: -280px;
    height: 81%;
    position: fixed;
    width: 255px;
    z-index: 50;
    margin: -12px 0 0 0;
    padding: 0 0 0 0;
}

    #verstka p {
    color: #232020;
    width: 101%;
    height: 350px;
    text-align: center;
    font-size: 15px;
    letter-spacing: 2px;
    margin: 0 0 0 0;
    padding: 0 0 0 7px;
}
}