.ListUslug{
    width: 100%;
    height: fit-content;
    margin-top: 15px;
    text-align: center;
}
.buttonUslugi{
    margin-bottom: 10px;
    width: 100%;
    height: 50px;
   padding: 0 0 0 0;
   text-align: center;
   cursor: pointer;
}

.wrapperUslugi{
    width: 100%;
    height: fit-content;
}